<link rel="stylesheet" href="boiler.css">

<footer class="py-2 border-top border-1 ms-3">
    <div class="container-fluid text-muted" style="position: static;">
        &copy Footer
    </div>
</footer>