

a{
    text-decoration: none;
    color: white;
}
html{
    height: 100vh;
    overflow: hidden;
}

body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('background-camp.jpg');
    color: white;
    background-size: cover;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}
#auth a{
    margin-left: 3rem;
}



a {
    text-decoration: none;
    color:#cad2d3 ;
    font-size: 1.8rem;
    display: inline-block;
    position: relative;
  }
  
  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  a:hover{
      color: white;
  }

  